 @font-face { font-family: opensans; src: url('Resources/OpenSans-Regular.ttf');}

body {
	background-color: #e100ff;
}

h1 {
	font-family: opensans;
	color: white;
	font-size: 300px;
}

p {
	color: #DDDDDD;
	font-size: 16px;
}

